.snakemake/
data/external/
data/database/
.DS_Store
results/
log/
data/eggnogdb
data/RepeatMaskerLibraries
data/assemblies
.interproscan-5/
.gm_key
*.sif
*.log
.cache/
NOTES
data/genbank_template.txt
excluded_species/
report.html
test.txt
.gitignore.swp
