.snakemake/
data/external/
!data/external/.gitkeep
data/database/
!data/database/.gitkeep
data/assemblies/
!data/assemblies/.gitkeep
data/protein_evidence/
!data/protein_evidence/.gitkeep
.DS_Store
results/
log/
data/eggnogdb
data/RepeatMaskerLibraries
.interproscan-5/
.gm_key
*.sif
*.log
.cache/
NOTES
data/genbank_template.txt
excluded_species/
report.html
test.txt
.gitignore.swp
.annocomba_setup.done
bin/maker
bin/RepeatMasker
data/config
data/funannotate_database/
data/eggnog_database
rulegraph
checkpoints/
