.snakemake/
data/external/
!data/external/.gitkeep
data/database/
!data/database/.gitkeep
data/assemblies/
!data/assemblies/.gitkeep
data/protein_evidence/
!data/protein_evidence/.gitkeep
data/transcripts/
!data/transcripts/.gitkeep
.DS_Store
results/
log/
!log/.gitkeep
data/eggnogdb
data/RepeatMaskerLibraries
.interproscan-5/
.gm_key
*.sif
*.log
.cache/
NOTES
data/genbank_template.txt
excluded_species/
report.html
test.txt
.gitignore.swp
.annocomba_setup.done
bin/maker
bin/RepeatMasker
bin/Genemark
.mountpoints
data/config
data/funannotate_database/
data/eggnog_database/
data/eggnogdb_database
!data/eggnog_database/.gitkeep
rulegraph
checkpoints/
.parallel/
__pycache__
bin/annocomba/__pychache__
.bindpoints
bin/SignalP
