
####### SETUP:
# You need to provide paths to the following programs: 
maker_tarball: data/external/maker-2.31.10.tgz
genemark_tarball: data/external/gmes_linux_64_4.tar.gz
genemark_keyfile: data/external/gm_key_64.gz
signalp_tarball: data/external/signalp-4.1g.Linux.tar.gz
RepbaseRepeatMaskerEdition: data/external/RepBaseRepeatMaskerEdition-20181026.tar.gz
iprscan: /gpfs/data/fs71312/reslp/databases/interproscan-5.48-83.0
eggnog_database_path: ../../../../../software/BioSW/eggnogdb
signalp_dir: data/external/signalp-4.1

# You may change the values below before you run setup:
funannotate_databases: all # usually this does not need to be changed.
funannotate_busco_set: "metazoa" # The BUSCO set is used in funannotate predict and annotate.
genbank_template: data/genbank_template.txt # Make sure get your own file from NCBI.
eggnog_database: "NOG" # usually this does not need to be changed.

###### end of SETUP settings

# general settings:
samples: "data/data.Hex.tsv"
#samples: "data/data-funannotate.test.csv"
assembly_cleanup:
    minlen: 1000
    percent_ns: 95
    run_funannotate_clean: False
    run_ncbi_adaptor_screen: False
    run_ncbi_foreign_sequences_screen: False
    contaminant_database: ""
    ncbi_foreign_sequences_parameters: ""

skip_BUSCO: 
augustus_training_params: 
busco_set: "metazoa_odb10" # The BUSCO set is used in the initial BUSCO run
busco_species: "auto" #this is the augustus model to start with - if no preference select "auto"
busco_tblastn_single_core: "no"
est_evidence_path: data/transcripts # this is the default to look for transcriptome evidence; in addition more sample specific directories can be specified in the data file
protein_evidence_path: data/protein_evidence

augustus:
    train_augustus_options: "--optrounds 1" 

#BRAKER
braker:
    workflow_version: ["protein","protein+RNA"]
    additional_params:
    threads: 32

# MAKER specific setting
maker:
    maker_pass_1_options: "-fix_nucleotides"
    maker_pass_2_options: "-fix_nucleotides"

genemark:
    gmes_petap_params: "--min_contig 1000"
    skip: #"yes"


# List of used containers:
containers:
    funannotate: docker://reslp/funannotate:1.8.13_3
    eggnog_mapper: docker://reslp/eggnog-mapper:1.0.3
    repeatmodeler: docker://reslp/repeatmodeler-repeatmasker:2.0.3-4.1.3
    premaker: docker://chrishah/premaker-plus:18-0d9787e
    busco: docker://ezlabgva/busco:v5.2.1_cv1
    cegma: docker://chrishah/cegma:2.5
    interproscan: docker://reslp/interproscan-wrapper:5.48-83.0
    augustus: docker://chrishah/augustus:v3.3.2-parallel
    braker: docker://teambraker/braker3:v3.0.7.6

cdhit:
    similarity: "0.98"
aed:
    snap_pass2: "0.3"
    train_augustus_maker: ["0.1","0.2","0.3"]

# funannotate specific settings
clean:
    run: 0
    minlen: 1000
mask:
    method: "repeatmasker"
    repeat_taxon: "all"
    threads: 48
predict:
    busco_seed_species: "schistosoma" #this is the starting model for augustus (if unkown, select "auto"), only needed for funannotate direct, i.e. ./annocomba call-genes --funannotate
    organism: "other"
    ploidy: 2
    threads: 48
    maker_weight: 2
    additional_params: "--force"
remote:
    methods: "phobius" #"all"
    email: "chrisi.hahni@gmail.com"
eggnog:
    threads: 48
annotate:
    threads: 4
# in case yes is specified for phylogeny or histograms, it is important that no more than 60 species are analysed (histograms)
# for phylogeny names have to be unique because they are truncated to 10 characters before raxml or iqtree is called
compare:
    threads: 48
    phylogeny: "no"
    histograms: "no"
    ml_method: "raxml"
    num_orthos: 10

threads:
    genemark: 32
    busco: 32
    cegma: 32
    repeatmodeler: 24
    repeatmasker: 32
    prepare_protein_evidence: 8
    run_MAKER_PASS1: 8
    train_augustus_maker: 30
    run_MAKER_PASS2: 8
    interproscan: 90
    edta: 16
