samples: "data/data.csv"
maker_tarball: data/external/maker-2.31.10.tgz
RepbaseRepeatMaskerEdition: data/external/RepBaseRepeatMaskerEdition-20181026.tar.gz 
funannotate_databases: all
iprscan: /gpfs/data/fs71720/hahnc_ori/WORKFLOWS/annocomba/data/external/interproscan-5.48-83.0/interproscan.sh
genbank_template: data/genbank_template.txt

# The BUSCO set is used in funannotate predict and annotate. It will be downloaded during annocomba --setup
busco_set: "metazoa"
busco_species: "schistosoma"
busco_tblastn_single_core: "no"

augustus:
    train_augustus_options: "--optrounds 1" 

# MAKER specific setting
maker:
    maker_pass_1_options: "-fix_nucleotides"
    maker_pass_2_options: "-fix_nucleotides"

genemark:
    genemark_dir: data/external/gmes_linux_64
    gmes_petap_params:

signalp_dir: data/external/signalp-4.1

#which eggnogg database to setup
eggnog_database: "NOG"

# List of used containers:
containers:
    funannotate_setup: docker://reslp/funannotate:git_clone
    funannotate: docker://reslp/funannotate:1.8.7-GM
    eggnog_mapper: docker://reslp/eggnog-mapper:1.0.3
    repeatmodeler: docker://reslp/repeatmodeler-repeatmasker:2.0.3-4.1.3
    premaker: docker://chrishah/premaker-plus:18-0d9787e
    busco: docker://reslp/busco:3.0.2
    cegma: docker://chrishah/cegma:2.5
    interproscan: docker://reslp/interproscan-wrapper:5.48-83.0
    augustus: docker://chrishah/augustus:v3.3.2-parallel

cdhit:
    similarity: "0.98"
aed:
    snap_pass2: "0.3"
    AUGUSTUS_PASS2: ["0.1","0.2","0.3","0.4","0.5"]

# funannotate specific settings
clean:
    run: 0
    minlen: 1000
mask:
    method: "repeatmasker"
    threads: 48
predict:
    organism: "other"
    ploidy: 1
    threads: 48
    maker_weight: 2
    additional_params: "--force"
remote:
    methods: "phobius" #"all"
    email: "chrisi.hahni@gmail.com"
eggnog:
    threads: 48
annotate:
    threads: 4
# in case yes is specified for phylogeny or histograms, it is important that no more than 60 species are analysed (histograms)
# for phylogeny names have to be unique because they are truncated to 10 characters before raxml or iqtree is called
compare:
    threads: 48
    phylogeny: "no"
    histograms: "no"
    ml_method: "raxml"
    num_orthos: 10

threads:
    genemark: 16
    busco: 32
    cegma: 16
    repeatmodeler: 16
    repeatmasker: 32
    prepare_protein_evidence: 8
    run_MAKER_PASS1: 8
    AUGUSTUS_PASS2: 20
    run_MAKER_PASS2: 8
    interproscan: 90
